/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  margin: 0; /* This removes any default margin */
  background-image: url("/static/jpgs/bg.jpg");
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}

.survey-question {
  font-size: 18px;
  margin-bottom: 15px;
}

.emoji-checkbox {
  display: none;
}

label {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.emoji {
  font-size: 24px;
  margin-right: 5px;
}

input[type="checkbox"] {
  display: none;
}

label.checkbox-label {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked + label.checkbox-label {
  background-color: #4caf50;
  color: white;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  align-items: center;
}
textarea {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  align-items: center;
}

#submit {
  display: block;
  width: 25%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  min-width: auto;
  background-color: var(--clr-primary-8);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  background-color: var(--clr-primary-5);
}

.dropbtn {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
}

.dropdown {
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  border: 20px solid transparent;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  font-size: 0.8rem; /* Reduced font size */
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #ddd;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--clr-primary-10);
  /* min-width: 200px; Adjust this if needed */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 2rem;
  border: 2px var(--clr-primary-9);
  border-radius: 15px;
}

.profile-user,
.home-icon,
.help-icon,
.appointment-icon,
.logout-icon {
  /* your styles here */
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 15px;
}
/* Additional styles for the thank you message */
#surveyModalContent {
  font-family: "Pacifico", cursive; /* Change the font-family as needed */
  font-size: 20px; /* Change the font-size as needed */
  color: #333; /* Change the font color as needed */
  background-color: #f8e71c; /* Change the background color as needed */
  box-shadow: 0 0 20px 15px rgba(0.5, 0, 0, 0.1);
  border-radius: 15px; /* Add border-radius for rounded corners */
  padding: 20px;
  width: 60%;
  text-align: center;
  position: relative;
}

#surveyModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style for radio buttons */
.emoji-radio {
  margin-right: 5px;
}

#surveyModalContent {
  font-family: "Pacifico", cursive; /* Change the font-family as needed */
  font-size: 20px; /* Change the font-size as needed */
  color: #333;
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 60%;
  border: 1px solid #ddd;
  max-width: 600px;
  box-shadow: 0 0 20px 15px rgba(0.5, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  position: relative;
}

#closeSurveyModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#closeSurveyModal:hover,
#closeSurveyModal:focus {
  color: #333;
  text-decoration: none;
}
