
<div class="dropdown">
  <button class="dropbtn"><i class="fas fa-bars"></i></button>
  <div class="dropdown-content">
    <a href="#">
      <img src="{{ url_for('static', filename='css/profile-user.png') }}" alt="Profile User" class="profile-user" title="Profile"/>
    </a>
    <a href="{{ url_for('newhome') }}">
      <img src="{{ url_for('static', filename='css/home-icon-silhouette.png') }}" alt="Home" class="home-icon" title="Home"/>
    </a>
    <a href="{{ url_for('contact') }}">
      <img src="{{ url_for('static', filename='css/handshake.png') }}" alt="Help" class="help-icon" title="Ask for Help"/>
    </a>
    <a href="{{ url_for('appointments') }}">
      <img src="{{ url_for('static', filename='css/calendar.png') }}" alt="Appointment" class="appointment-icon" title="Book an Appointment"/>
    </a>
    <a href="#">
      <img src="{{ url_for('static', filename='css/logout.png') }}" alt="Logout" class="logout-icon" title="Sign Out"/>
    </a>
  </div>
</div>
