<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Your Password</title>
    <link href="{{ url_for('static',filename='css/forgot_password.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="forgot-password-container">
      <h2>Forgot Your Password</h2>
      <p>Enter your email address to reset your password.</p>
      <form id="forgotPasswordForm">
        <label for="emailOrUsername">Email:</label>
        <input
          type="text"
          placeholder="example@gmail.com"
          id="emailOrUsername"
          name="emailOrUsername"
          required
          oninput="clearError('emailOrUsername-error')"
        />
        <div id="emailOrUsername-error" class="error-message"></div>
        <!-- Error message container -->

        <button type="button" onclick="resetPassword()">Reset Password</button>
      </form>
    </div>

    <script>
      function resetPassword() {
        var emailOrUsername = document.getElementById("emailOrUsername").value;

        // Remove previous error message
        removeErrorMessage("emailOrUsername-error");

        // Perform validation and send reset password instructions to the user's email
        // You would typically handle this process on the server-side

        if (emailOrUsername.trim() === "") {
          displayErrorMessage(
            "emailOrUsername",
            "Please enter an email address."
          );
        } else if (!isValidEmail(emailOrUsername)) {
          displayErrorMessage(
            "emailOrUsername",
            "Please enter a valid email address."
          );
        } else {
          alert("Password reset instructions sent to " + emailOrUsername);
          // Perform other actions, such as sending reset instructions
        }
      }

      function displayErrorMessage(inputId, message) {
        var inputElement = document.getElementById(inputId);
        var errorElement = document.getElementById(inputId + "-error");
        if (!errorElement) {
          errorElement = document.createElement("div");
          errorElement.id = inputId + "-error";
          errorElement.className = "error-message";
          inputElement.parentNode.insertBefore(
            errorElement,
            inputElement.nextSibling
          );
        }
        errorElement.innerHTML = message;
      }

      function removeErrorMessage(errorId) {
        var errorElement = document.getElementById(errorId);
        if (errorElement) {
          errorElement.parentNode.removeChild(errorElement);
        }
      }

      function isValidEmail(email) {
        // Simple email validation (checks for '@' and '.com')
        return email.includes("@") && email.includes(".c");
      }

      function clearError(errorId) {
        document.getElementById(errorId).innerHTML = "";
      }
    </script>
  </body>
</html>
