<!DOCTYPE html>
<html>
  <head>
    <title>Dynamic Scrolling Page</title>
    <link
      href="{{ url_for('static',filename='css/newhome.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="header">
      <h1>Hi, User!</h1>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="#">Home</a>
          <a href="#">Sign Out</a>
          <a href="#">Take a Survey</a>
          <a href="#">Book an Appointment</a>
          <a href="#">Ask for Help</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <h2>Welcome to our website!</h2>
        <p>Please select an option from the dropdown menu:</p>
      </div>
    </div>
  </body>
</html>
