/* Navbar */
nav {
    background: linear-gradient(to right, #008080, #66CDAA);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #666;
}
/* Additional Styles */
.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links li {
    margin-left: 10px;
}

.links li a {
    color: #333;
    text-decoration: none;
}

.links li a:hover {
    color: #666;
}

body {
    background-image: url(https://img.freepik.com/free-vector/watercolor-painted-abstract-background_23-2149111768.jpg);
    background-size: cover; /* or 'contain' */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;   /*keeps background image filled in the webpage*/
    margin: 0; 
    font-family: Garamond, Arial, sans-serif;
    padding: 50px;
}

h1 {
    color: #333;
    text-align: center;
}